# Ignore some directories that are created by the build process
# or contain build artifacts or binaries
bin/
.cache/
toolchain/

# Ignore build artifacts
*.o
*.elf
*.log

# Ignore clangd's configuration file (dynamically generated)
compile_commands.json
